html{
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;    
    height: calc(100%-1em);
}
.header{
    height: 15vh;
    background-color: rgba(255, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 75vh;
    background-color: rgba(0, 0, 255,15%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 -2rem; */
}
.footer{
    height: 10vh;
    background-color: rgba(0, 128, 0,15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
}
.btn{
    height: 5vh;
    width: 25vw;
}

.d1,.d2 {
    height: 25rem;
    width: 25rem;
    border: 20px solid black;
    border-radius: 10%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    transition: width 2s,border-width 2s,height 2s, transform 2s;
}
.d1:hover,.d2:hover{
    height: 0rem;
    width: 0rem;
    border-width: 0px;
    transform: rotate(180deg);
}

.dot{
    height: 4rem;
    width: 4rem;
    background-color: black;
    border-radius: 50%;
    
}
@media only screen and (max-width: 1024px) {
    .d1,.d2 {
        height: 20rem;
        width: 20rem;
        border: 16px solid black;   
     }
}
@media only screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .d1,.d2 {
        height: 13rem;
        width: 13rem;
        border: 10.4px solid black;
    }
}